@charset"utf-8";
/* 设置整个页面的基础样式 */

/* *代表通配符, css中*{}代表所有HTML的doc所有元素标签 */


/* body为整个代码区域附上背景颜色  */
body{
  background-color: rgb(242,242,242);
}


ol,
ul {
    list-style: none
}

a {
    text-decoration: none;
    color: #999999
}

a:hover {
    text-decoration: none
}





