@charset"utf-8";
body {
    background: #F6F6F6
}

/*===============================*/
/* ------头部区域 ------------*/
/*=============================*/

/* ----导航标签------ */
.top {
	background: #E3E4E5;
	color: #999;
	font-family: "微软雅黑";
	font-size: 12px;
	width: 1190px;
	height: 30px;
	margin: 0 auto;
}

.top-left {
	width: 305px;
	line-height: 30px;
	position: relative;
	text-align: right;
	font-size: 12px;
	float: left;
}

.top-right {
	width: 800px;
	height: 30px;
	float: right;
}

.top-right-ul li {
	list-style-type: none;
	float: left;
	margin: 0 0 0 9px;
	line-height: 30px;
	position: relative;
	border: 1px solid transparent;
}

.top-right-ul a{
	text-decoration: none;
}

.top-right-ul .l {
   height: 10px;
   background: #CCCCCC;
   margin: 10px;
}

/*============================================*/
/* ------头部logo,搜索框部分,购物车二维码部分------*/
/*===========================================*/
/* 
   知识点:
    1.外层div相对位置,内层div绝对位置 
    2.margin 上、右、下 左外边距
*/
.found {
   width: 1200px;
   height: 140px;
   margin: 3px auto;
}
/* ---- 一.头部logo区域  ----*/
.foundleft {
	/* 可以设置背景色 */
	/*background: url("../img/dog.png") no-repeat;*/
	width: 190px;
	height: 172px;
	position: absolute; /* 位置 */
	top: 0px;
	float: left;
}

.foundleft img {
	margin: 0px;
}

/* --- 二.头部中部搜索框区域 ------*/
.foundmain {
	width: 653px;
	height: 140px;
	margin-left: 190px;
	float: left;
}
.foundmaina {
	width: 553px;
	height: 75px;
	margin: 15px 10px 0 90px;
	overflow: hidden;
}

/* 搜索框 搜索按钮 */
.foundmaina-div-searchL {
     height: 38px;
}

.searchinput {
    width: 486px;
    height: 35px;
    margin-top: 3px;
    padding-left: 10px;
    border: 1.5px solid red;
    font: 14px 微软雅黑;
    color: gray;
    float: left;
}

.searchButton {
    width: 50px;
    height: 35px;
    background: red;
    display: inline-block;
    margin: 3px 0 0 0;
    cursor: pointer;
    border: 1.5px solid red;
    float: left;
}

.searchButton button {
	text-align: center;
	margin: 8px;
	background: red;
	color: white;
}

/* 搜索框下方热门 */
.foundmaina-div-hot {
    margin: 10px 0 0 0;
}

.foundmaina-div-hot a {
	padding: 0 7px 0 0; 
}

.foundmaina-div-hot a:hover {
    color: #C81623;
}

.foundmaina-hotcolorred {
	padding: 0 0 0 5px;
	color: red;
}

/*  搜索框下方 秒杀 优惠券 闪购 等关键词按钮 */
.foundmainb {
	width: 600px;
	height: 30px;
	margin: 15px 0 0 50px;
}
.foundmainb-ul li {
	float: left;
	margin: 0 15px 5px 0;
	line-height: 30px;
}

.foundmain-ul .ll {
    height: 13px;
    background: #CCCCCC;
    width: 1px;
    margin: 7px 0 0 0;
}

.foundmainb-ul li a {
	font: 16px 微软雅黑;
	color: #555;
	font-weight: 700;
}


/* ---- 三.头部右面二维码 购物车区域 区域 ------*/
.foundright {
	width: 350px;
	height: 140px;
	position: relative;
	float: right;
}

.foundrighta {
    width: 190px;
    height: 35px;
    /* 上、左右、下外边距 */
    margin: 18px 0 0 10px; 
    border: 1px solid #E3E4E5;
    background: white;
    color: red;
    position: relative;
}

.foundrighta p {
	margin: 7px 0 0 36px;
}

.foundrighta p span {
	padding: 0 0 0 5px;
}


.foundrightb {
	width: 70px;
	height: 70px;
	top: 0px;
    right: 60px;
    position: absolute;
    float: right;
}

.foundrightc {
    width: 190px;
    height: 40px;
    margin: 33px 0 0 150px;
}

/*============================================*/
/*-------------- 二级菜单 轮播图区域 -------------*/
/*============================================*/

.center {
  width: 1200px;
  height: 480px;
  margin:0 auto;
  position: relative;
}

/* 左边菜单栏区域 */
.centerleft {
    width: 190px;
    height: 480px;
    float: left;
    background: #6E6568;
}

.centerleft-ul {
   width: 190px;
   height: 450px;
   margin: 15px 0 15px 0;
   position: relative;
}

.centerleft-ul li {
    width: 190px;
    height: 30px;
    color: white;
    line-height: 30px;
    margin: 0 5px; 
}

.centerleft-ul a {
    font: 14px 微软雅黑;
    font-weight: bold;
}


/* 中部主要轮播图区域 */
.centermiddle {
    width: 790px;
    height: 480px;
    float: left;
    margin: 0 10px;
}

.centermiddle-top {
   width: 790px;
   height: 340px;
   position: relative;
}

/* 轮播图 ------*/
.slideshow {
   width: 790px;
   height: 340px;
}

.slideshow ul li {
  position: absolute;
  width: 790px;
  height: 340px;
  display: none;
}

.slidepoint {
  width: 173px;
  height: 20px;
  /* 设置边框圆角 */
  border-radius: 8px 8px;
  background-color: hsla(0, 0%, 100%, .3);
  /* absolute绝对位置设置 确定位置 偏移量 */
  position: absolute;
  left: 304px;
  bottom: 17px;
}

.slidepoint li {
  width: 12px;
  height: 12px;
  border-radius: 8px;
  background: white;
  float: left;
  margin: 4px 3px 0 6px;
  /* cursor 指针光标属性*/
  cursor: pointer;
}

.slidepoint .red {
  background: red;
}

/* 轮播图下方图片区域 ------*/
.centermiddle-bottom {
    width: 790px;
    height: 130px;
    margin: 10px 0 0 0;
}

.centermiddle-bottomL {
   float: left;
}

.centermiddle-bottomR {
   float: right;
} 


/* 右面新人福利 注册 白条等内容区域 */
.centerright {
    width: 190px;
    height: 480px;
    float: left;
}

.centerright-top {
     width: 190px;
     height: 120px;
}

.loginimg {
     width: 170px;
     height: 45px;
     margin: 10px;
}

.loginimgleft {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    float: left;
    /* overflow 属性规定当内容溢出元素框时发生的事情
       hidden多出内容会被裁剪 */
    overflow: hidden;
}

.loginimgright {
     float: right;
}

.logintitle {
    width: 170px;
    height: 37px;
}

.logintitle a {
    width: 75px;
    height: 25px;
    text-align: center;
    border: 2px solid #C81623;
    color: #C81623;
    line-height: 25px;
    margin: 9px 0 0 0;
}

.logintitleL {
  float: left;
}

.logintitleR {
  float: right;
}

.centerright-middle {
    width: 190px;
    height: 150px;
}
.centerright-middleL {
    width: 175px;
    height: 20px;
}

.centerright-middleL li {
     display: inline-block;
     width: 40px;
     height: 20px;
     border-right: 1px solid gainsboro;
     text-align: center;
     margin: 0 5px 0 0;
}

.centerright-middleL .on {
    border-bottom: 2px solid red;
    width: 60px;
}

.centerright-middleR {
    margin: 13px 0 0 10px;
}


.centerright-bottom {
     width: 190px;
     height: 210px;
     position: relative;
}

.centerright-bottom li a {
    width: 46px;
    height: 66px;
    float: left;
    text-align: center;
}

.centerright-bottom li a i {
    display: block;
    width: 24px;
    height: 24px;
    background-image: url(../img/sprite_fs.png);
    background-repeat: no-repeat;
    margin: 0 12px 2px 12px;
}

.centerright-bottom li .service1 {
    background-position: 0 -88px;
}

.centerright-bottom li .service2 {
    background-position: 0 -45px;
}

.centerright-bottom li .service3 {
    background-position: -44px -88px;
}

.centerright-bottom li .service4 {
    background-position: -88px 0;
}

.centerright-bottom li .service5 {
    background-position: -88px -46px;
}

.centerright-bottom li .service6 {
    background-position: -44px -47px;
}

.centerright-bottom li .service7 {
    background-position: -88px -88px;
}

.centerright-bottom li .service8 {
    background-position: 0 0;
}

.centerright-bottom li .service9 {
    background-position: -132px  0;
}

.centerright-bottom li .service10 {
    background-position: -132px -45px;
}

.centerright-bottom li .service11 {
    background-position: -132px -88px;
}

.centerright-bottom li .service12 {
    background-position: -44px 0;
}


/* ==================================== */
/* -------京东秒杀区域---------------*/
/*=====================================*/

.JDMSPart {
   width: 1200px;
   height: 305px;
   margin: 15px auto;
   position: relative;
}

/* 京东秒杀标题栏区域 */
.JDMStitileBar {
   width: 100%;
   height: 55px;
   background: url(../img/mlksbackground.png) no-repeat;
   color: white;
}

.JDMStitileBar-border {
    width: 25px;
    height: 25px;
    /* 位置设为绝对以后 要指定其位置的上下左右等部分信息 */
    position: absolute;
    left: -5px;
    top: -5px;
    background: url(../img/sprite.png) no-repeat -189px -46px;
}

.JDMStitileBar-left {
    width: 40px;
    height: 55px;
    float: left;
    margin: 10px 0 0 35px;
    background: url(../img/sprite.png) no-repeat 0 -40px;
}


.JDMStitileBar-center {
    margin: 5px 0 0 5px;
    height: 55px;
    width: 350px;
    float: left;
}

.JDMStitileBar-center a {
    padding: 0 0 0 15px;
}

.JDMStitileBar-right {
    width: 350px;
    height: 55px;
    float: right;
}

.JDMStitileBar-righta {
    margin: 0 10px;
    line-height: 55px;
    text-align: center;
    float: left;
}

.JDMStitileBar-rightb {
   float: left;
   margin: 5px 0 0 0;
   width: 47px;
   height: 47px;
   line-height: 47px;
   text-align: center;
   font-size: 35px;
   text-align: center;
   background: #440106;
   color: red;
}

.JDMStitileBar-rightc {
   float: left;
   width: 15px;
   height: 55px;
}

.JDMStitileBar-rightc i {
   margin: 15px 0 4px 5px;
   width: 7px;
   height: 7px;
   background: white;
   display: block;  /* block块级元素显示 带换行符 */
   
}

.JDMStitileBar-rightd {
    float: left;
    width: 47px;
    height: 47px;
    margin: 5px 0 0 0;
    background: #440106;
    color: red;
    font-size: 35px;
    text-align: center;
    line-height: 47px;
}

.JDMStitileBar-righte {
   float: left;
   width: 15px;
   height: 55px;
}

.JDMStitileBar-righte i {
    width: 7px;
    height: 7px;
    display: block;
    margin: 15px 0 4px 5px;
    background: white;
}

.JDMStitileBar-rightf {
   float: left;
   width: 47px;
   height: 47px;
   margin: 5px 0 0 0;
   background: #440106;
   color: red;
   font-size: 35px;
   line-height: 47px;
}

.JDMStitileBar-righth {
   float: left;
   line-height: 55px;
   margin: 0 10px;
   font:微软雅黑;
}


/* 京东秒杀图片展示区域 */
.JDMSimg {
  width: 100%;
  height: 250px;
  position: absolute;
}

.JDMSimg-left {
   width: 985px;
   height: 250px;
   float: left;
}

.JDMSimg-left-ul {
  width: 100%;
  height: 225px;
  position: absolute;
  margin: 12px 0 0 0;
}

.JDMSimg-left-ul li {
  display: inline-block;
}

.JDMSimg-left-ul li a {
   width: 196px;
   height: 225px;
   display: block;
}

.JDMSimg-left-ul-img {
  width: 132px;
  height: 132px;
  margin: 10px 25px 0;
}

.JDMSimg-left-ul-title {
  width: 170px;
  height: 80px;
  margin: 1px 25px;
  overflow: hidden;
}

.JDMSimg-left-ul-title p {
   font:12px 微软雅黑;
   color: #999;
   margin: 4px 0;
}

.JDMSimg-left-ul-title .price {
    color: red;
    font: 19px 微软雅黑;
}

.JDMSimg-right {
    width: 203px;
    height: 225px;
    float: right;
    margin: 12px 0 0 0;
    position: relative;
}

.JDMSimg-right-ul {
   width: 180px;
   height: 225px;
   margin: 0 0 0 10px;
   position: relative;
}

.JDMSimg-right-focus {
   width: 50px;
   height: 20px;
   position: absolute;
   bottom: 5px;
   left: 75px;
}

.JDMSimg-right-focus li {
    width: 10px;
    height: 10px;
    background: black;
    display: inline-block;
    margin: 5px 0 0 10px;
    border-radius: 50%;
}

.JDMSimg-right-focus .on {
   background: red;
}


/* ==================================== */
/* -------  发现,品牌,排行榜  ----------------*/
/*=====================================*/
.goodspart {
   width: 1200px;
   height: 450px;
   background: white;
   /* 上下外间距为0px auto代表左右自动适应 */
   margin: 0 auto; 
}

/*---发现好货 ----*/
.goodspart-left {
   width: 390px;
   height: 450px;
   float: left;
   color: white;
}

.goodspart-left-title {
   width: 390px;
   height: 55px;
   background: #4998A1;
   position: relative;
}

.goodspart-left-titlea {
   position: absolute;
   top: 0;
   left: 0;
   width: 0;
   height: 0;
   border-top: 19px solid #f6f6f6;
   border-right: 19px solid transparent;
}

.goods-left-titleb {
   width: 20px;
   height: 20px;
   position: absolute;
   left: -2px;
   top: -1px;
   background: url(../img/sprite.png) no-repeat -192px -99px;

}

.goodspart-left-titlec {
    float: left;
    margin: 0 0 0 20px;
    font: 26px 微软雅黑;
    line-height: 55px;
}

.goodspart-left-titled {
    float: right;
}

.goodspart-left-titled a {
   margin: 0 20px 0 0;
   line-height: 55px;
}

.goodspart-left-ul {
   width: 378px;
   height: 383px;
   margin: 6px;
}

.goodspart-left-ul li a {
   width: 187px;
   height: 124px;
   float: left;
   position: relative;
   border-right: 1px solid #E7E7E7;
   border-bottom: 1px solid #E7E7E7;
}

.goodspart-left-ul li a p {
   width: 80px;
   height: 40px;
   color: #4998A1;
   margin: 15px 0 0 15px;
}

.goodspart-left-ul li a img {
   position: absolute;
   right: 5px;
   bottom: 7px;
   background: blue;
}

/*---- 品牌头条 ----*/
.goodspart-center {
   width: 390px;
   height: 450px;
   float: left;
   margin: 0 10px;
}

.goodspart-center-title {
   width: 390px;
   height: 55px;
   background: #7D2E5C;
   position: relative;
   color: white;
}

.goodspart-center-titlea {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 19px solid #f6f6f6;
    border-right: 19px solid transparent;
}

.goodspart-center-titleb {
   width: 20px;
   height: 20px;
   position: absolute;
   left: -2px;
   top: -1px;
   background: url(../img/sprite.png) no-repeat -2px -163px;
}

.goodspart-center-titlec {
   float: left;
   font: 26px 微软雅黑;
   line-height: 55px;
   margin: 0 0 0 20px;
}

.goodspart-center-titled {
    float: right;
}

.goodspart-center-titled a {
    line-height: 55px;
    margin: 0 20px 0 0;
}

.goodspart-center-div {
   width: 378px;
   height: 383px;
   margin: 6px;
   position: relative;
}

.goodspart-center-div ul li a{
    float: left;
    width: 187px;
    height: 220px;
    border-right: 1px solid #E7E7E7;
}

.goodspart-center-div ul li a div {
    width: 140px;
    height: 45px;
    margin: 15px 0 20px 20px;   
}

.goodspart-center-div ul li a div h2 {
    font: 16px 微软雅黑;
    color: #7D2E5C;
}

.goodspart-center-div ul li a img {
    margin: 0 0 0 20px;
}

.goodspart-center-div-bottom {
    width: 372px;
    height: 132px;
    position: absolute;
    top: 245px;
    left: 3px;
}

/*---- 排行榜 ----*/
.goodspart-right {
   width: 390px;
   height: 450px;
   float: left;
}

.goodspart-right-title {
    width: 390px;
    height: 55px;
    position: relative;
    background: #E77005;
    color: white;
}

.goodspart-right-titlea {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 19px solid #f6f6f6;
    border-right: 19px solid transparent;
}

.goodspart-right-titleb {
     float: left;
     width: 20px;
     height: 20px;
     position: absolute;
     left: -2px;
     top: -1px;
     background: url(../img/sprite.png) no-repeat -192px -3px;
}

.goodspart-right-titlec {
     float: left;
     font: 26px 微软雅黑;
     line-height: 55px;
     margin: 0 0 0 20px;
}

.goodspart-right-titled {
    float: right;
} 

.goodspart-right-titled a {
    line-height: 55px;
    margin: 0 20px 0 0;
}

.goodspart-right-div {
    width: 378px;
    height: 395px;
    margin: 0 6px;
    position: relative;
}

.goodspart-right-diva {
   width: 378px;
   height: 34px;
   border-bottom: 1px solid #E7E7E7;
}

.goodspart-right-diva li {
   float: left;
   width: 70px;
   height: 34px;
   margin: 0 2px;
   text-align: center;
   line-height: 34px;
}

.goodspart-right-diva .on {
    border-bottom: 2px solid red;
}

.goodspart-right-divb {
   width: 375px;
   height: 350px;
   /*如果视图发生偏移 要将父视图设为绝对位置*/
   position: absolute; 
   margin: 2px 1px;
}

.goodspart-right-divb li {
   width: 123px;
   height: 172px;
   float: left;
   display: inline-block;
   border-right: 1px solid #E7E7E7;
   border-bottom: 1px solid #E7E7E7;
}

.goodspart-right-divb li a img {
    margin: 10px 0 10px 10px;
}

.goodspart-right-divb li a p {
     width: 100px;
     height: 40px;
     font-size: 12px;
     color: #666;
     margin: 0 0 0 10px;
}

/* ==================================== */
/* ---------大图片区域---------------*/
/*=====================================*/
.bigimgpart {
  width: 1200px;
  height: 100px;
  margin: 0 auto;
  background: #E0E0E0;
}

.bigimgpart a img {
  float: left;

}














